.imgContainer {
  margin-top: 80px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center; /* Centrar verticalmente */
  background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
  background-position: center; /* Centrar la imagen de fondo */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  }

  .imgPeli{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }

  .title{
    position: absolute; 
    top: 50%;
    font-size: 60px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
  }

  .description{
    width: 50%;
    position: absolute;
    top: 60%;
    margin-left: 20px;
    color: white;
  }

  .date{
    top: 78%;
    color: #ff5e00;
    font-weight: bold;
    position: absolute;
    margin-left: 20px;
  }

  .goBackIcon{
    top: 10%;
    margin-left: 15px;
    position: absolute;
    font-size: 60px;
    color: #ff5e00;
    transition: 200ms ease-in;
    z-index: 1;
  }

  .goBackIcon:hover{
    color: #000;
    transform: scale(1.05,1.05);
    cursor: pointer;
  }

  .trailerTitle{
    margin-top: 15px;
    margin-left: 180px;
    font-size: 50px; 
  }

  .trailerLine{
    align-self: center;
    height: 4px;
    width: 80%;
    background-color: #ff5e00;
    border-radius: 10px;
  }


  .trailerVideo{
    margin-top: 25px;
    height: 650px;
    width: 1000px;
    
  }

  .optionsContainer{
    display: flex;
    justify-content: end;
    margin-right: 80px;
  }

  .likeIcon{
    top: 20%;
    /* right: 10%; */
    align-self: center;
    position: absolute;
    font-size: 40px;
    transition: 300ms ease-in;
    z-index: 1;
    margin-right: 5%;
    color: white;
  }

  .likeIcon:hover{
    color: #ff5e00;
    transform: scale(1.05,1.05);
    cursor: pointer;
  }

  .watchLaterIcon{
    top: 20%;
    position: absolute;
    font-size: 40px;
    transition: 300ms ease-in;
    z-index: 1;
    color: white;
  }

  .watchLaterIcon:hover{
    color: #ff5e00;
    transform: scale(1.05,1.05);
    cursor: pointer;
  }

.recLine{
  align-self: center;
  height: 4px;
  width: 100%;
  background-color: #ff5e00;
  border-radius: 10px;
}

.recommendationsContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.recommendations{
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 10px;
}

.noRec{
  margin: 10px 0;
}

.recommendations::-webkit-scrollbar {
  height: 10px;
  border-radius: 15px;
}


.recommendations::-webkit-scrollbar-thumb {
  background-color:#ff5e00;
  border-radius: 15px; 
}


.repartoContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px){
  .repartoContainer{
    margin-top: 60px;
  }
}

.actorsCards{
  overflow-x: scroll;
  overflow-y: hidden;
}

.actorsCards::-webkit-scrollbar {
  height: 10px;
  border-radius: 15px;
  background-color: transparent;
}

.repartoLine{
    align-self: center;
    height: 4px;
    width: 100%;
    background-color: #ff5e00;
    border-radius: 10px;
}



@media (max-width: 1200px ){
  .trailerVideo{
    width: 700px;
    height: 500px;
  }

  .trailerTitle{
    margin-left: 100px;
   }

   .title{
    position: absolute;
    bottom: 30px;
    left: 10px;
    padding: 5px;
    color: white;
   }

   .description{
    top: 55%;
    display: none;
   }

   .date{
    display: none;
   }

}

@media (max-width: 1050px ){
.title{
  top: 35%;
}

.description{
  top: 45%;
}
}

@media (max-width: 1000px ){
.title{
  top: 27%;
}

.description{
  top: 37%;
}
}

@media (max-width: 900px ){
.title{
  top: 22%;
}

.description{
  top: 30%;
  width: 55%;
}
}

@media (max-width: 800px ){
.title{
  position: absolute;
  top: 30%;
  padding: 5px;
  color: white;
  font-size: 40px;
}

.description{
  top: 27%;
  width: 60%;
}
.trailerTitle{
  margin-left: 65px;
}

   .likeIcon{
    top: 13%;
   }

   .watchLaterIcon{
    top: 13%;
   }

}

@media (max-width: 700px ){
  .title{
    top: 20%;
  }

  .trailerVideo{
    width: 500px;
    height: 300px;
  }

  .trailerTitle{
    margin-left: 50px;
   }

   .description{
    width: 90%;
   }
}

@media (max-width: 580px ){
  .trailerVideo{
    width: 500px;
    height: 300px;
  }

  .trailerTitle{
    margin-left: 50px;
   }

   .description{
    width: 90%;
    display: none;
   }

}

@media (max-width: 500px ){
  .trailerVideo{
    width: 300px;
    height: 180px;
  }

  .trailerTitle{
    margin-left: 30px;
   }

   .goBackIcon{
    font-size: 40px;
   }
  
}

@media (max-width: 440px ){
  .trailerVideo{
    width: 300px;
    height: 180px;
  }

  .trailerTitle{
    margin-left: 30px;
   }

   .goBackIcon{
    font-size: 40px;
   }
   
}

@media (max-width: 400px ){
  .title{
    margin-top: 10px;
    font-size: 40px;
  }

  .description{
    margin-top: 15px;
  }
  .trailerVideo{
    width: 300px;
    height: 180px;
  }

  .trailerTitle{
    margin-left: 30px;
   }

   .goBackIcon{
    font-size: 40px;
    margin-top: 10px;
   }

}

.containerAllComments{
 /* display: flex;
  flex-direction: column-reverse; */
}

.containerComentario{
  margin: 15px 0;
}

.containerTexto{
  width: 100%;
}

.comentarioUsuario{
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  margin: 10px 5px;
}

.descripcion{
  margin: 2px 5px;
}

.paginadorComentarios{
  display: flex;
  justify-content: center;
}

.moveComments{
  align-self: center;
  font-size: 30px;
  color: #ff5e00;
}

.moveComments:hover{
  cursor: pointer;
}

.deleteCross{
  font-size: 30px;
  color: red;
}