.movie-card-favoritos{
height: 300px;
  width: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
  border-radius: 20px;
}

.titleFavoritos{
    margin-top: 100px;
}

.titleEmpty{
    text-align: center;
    margin-top: 80px;
    color: #ff5e00;
}

.titleLine{
    background-color: #ff5e00;
    height: 3px;
    border-radius: 10px;
    width: 70%;
}

.rowContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btnFavoritos{
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #ff5e00;
    transition: 300ms ease;
    margin: 5px 5px;
    color: white;
}

.btnFavoritos:hover{
    transform: scale(1.05,1.05);
    color: #ff5e00;
    background-color: transparent;
}

.btnFavoritos:focus{
    color: #ff5e00;
    background-color: transparent;
}

.containerInputSearch{
    align-self: center;
}

.searchInputFavoritos{
    border: 2px solid #ff5e00;
    border-radius: 15px;
    padding: 10px;
}



@media (max-width: 450px) {
    .movie-card-favoritos{
      height: 240px;
      width: 180px;
    }
   
    .searchInputFavoritos{
        padding-right: 0px;
    }
  }
