.miPerfil{
    margin-top: 5rem;
}

.imgProfile{
    width: 40%;
    margin-top: 4rem;
    align-self: center;
}

.imgProfile:hover{
    filter: blur(3px);
    cursor: pointer;
}

.nombrePerfil{
    margin-top: 1rem;
    align-self: center;
}

