.miPerfil{
    margin-top: 6rem;
}

.imgProfile{
    width: 40%;
    margin-top: 4rem;
    align-self: center;
}

.imgProfile:hover{
    filter: blur(3px);
    cursor: pointer;
}

.nombrePerfil{
    margin-top: 1rem;
    align-self: center;
}


.modalLine{
    height: 2px;
    width: 80%;
    background-color: #ff5e00;
    border-radius: 10px;
}

.saveBtn{
    background-color: #ff5e00;
    border: none;
    transition: 300ms ease;
}

.saveBtn:hover{
    background-color: transparent;
    color: #ff5e00;
}

.closeBtn{
    transition: 300ms ease;
    border: none;
}

.closeBtn:hover{
    color: red;
    background-color: transparent;
}