.containerResBus{
    margin-top: 100px;
}

.containerResult{
      display: flex;
      justify-content: space-between;
}

.inputBtnResults{
    background-color: transparent;
    border: none;
}

.inputBtnResults:hover{
    background-color: transparent;
}

.containerBtnShow{
    margin: 5px 0;
}

.containerInput{
    align-self: center;
}

.btnAllMovies{
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #ff5e00;
    transition: 300ms ease;
}

.btnAllMovies:hover{
    transform: scale(1.05,1.05);
    color: #ff5e00;
    background-color: transparent;
}

.btnAllMovies:focus{
    color: #ff5e00;
    background-color: transparent;
}

.resultTitle{
    margin-top: 30px;
}

.resultLine{
    background-color: #ff5e00;
    height: 3px;
    width: 70%;
}

@media (max-width: 700px){
    .containerResult{
        flex-direction: column;
    }

    .searchForm{
        justify-content: center;
    }

    .generalContainerShow{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
    }

    .containerBtnShow{
        margin: 0;
    }

}

@media (max-width: 990px){
    .btnAllMovies{
        width: 200px;
        margin: 10px 0;
    }
    
    .containerInput{
        align-self: center;
    }
}

@media (max-width: 500px){
    
    .searchInput{
        width: 100%;
    }
}
